<html>
    <head>
        <title>Searh</title>
    </head>
    <body>
        <p>
        <ul>    You searched for id {{ task1.getId }} </ul>
        <ul>    You searched for  {{ task1.getDescription }} </ul>
        </p>
    </body>
</html>
